body {
    font-family: "Roboto", sans-serif;
    background-color: #e3e3e3;
}

main > .container {
    padding: 96px 0px 32px;
}

.footer {
    background-color: #4040ff;
    color: #e3e3e3 !important;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

.navbar-nav {
    font-family: "Roboto", sans-serif;
    font-style: bold;
}

a.asc:after, a.desc:after {
    content: "";
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.nav li > form > button.logout {
    padding-top: 7px;
    color: #e3e3e3;
}

.navbar {
    background-color: #4040ff;
}

.nav-link {
    text-decoration: none;
    color: #e3e3e3 !important;
    font-weight: bold;
}

.nav-link.active, .nav-link:focus, .nav-link:hover {
    text-decoration: none;
    color: #99ff33 !important;
    font-weight: bold;
}

.nav > li > form > button.logout {
    text-decoration: none;
    color: #e3e3e3;
    font-weight: bold;
}

.nav > li > form > button.logout:focus, .nav > li > form > button.logout:hover {
    text-decoration: none;
    color: #99ff33;
    font-weight: bold;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.button-icon {
    fill: #e3e3e3;
}

.button-icon:hover {
    fill: #99ff33;
}

.footer-icon {
    margin-right: 8px;
    margin-left: 8px;
}

h1, h2, h3 {
    color: #4040ff;
    font-weight: bold;
    text-align: center;
}

p {
    font-size: 24px;
    color: #333333;
    margin: 0;
}

hr {
    border: 1px solid #4040ff32;
    margin: 32px;
}

.row {
    padding-top: 32px;
    padding-bottom: 32px;
}

/* Estilos para cajas - página de portatil */
.caja {
    border: 2px solid #4040ff32;
    border-radius: 8px;
    padding: 8px;
    background-color: #4040ff24;
    margin-top: 24px;
    margin-bottom: 24px;
}

#reader {
    width: 400px;
}

/* Estilos para tamaños de pantalla pequeños */
@media (max-width: 767px) {

    main > .container {
        padding: 96px 0px 32px;
    }

    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }

    h1 {
        padding: 16px;
        margin: 0;
    }

    h2 {
        padding: 8px;
        margin: 0;
    }

    p {
        font-size: 16px;
    }

    hr {
        margin: 16px;
    }

    .row {
        padding-top: 24px;
        padding-bottom: 24px;
    }
  
}
