/* Estilos generales */
body {
    font-family: "Roboto", sans-serif;
    color: #333333;
    background-color: #E3E3E3;
    font-size: 18px;
}

/* Estilos del contenedor */
main > .container {
    padding: 112px 0 32px;
}

/* Estilos del pie de página */
.footer {
    background-color: #16697A;
    color: #E3E3E3;
    font-family: "Roboto", sans-serif;
    /* La posición fija está comentada, considere eliminar si no es necesaria */
    bottom: 0;
    width: 100%;
    padding: 16px 0;
}

.footer > .container {
    padding: 0 15px;
}

.not-set {
    color: #C55;
    font-style: italic;
}

/* Estilos para enlaces */
a.asc:after, a.desc:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

/* Estilos para tablas */
.grid-view th {
    white-space: nowrap;
}

/* Estilos para bloques de sugerencias */
.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

/* Estilos para la página de errores */
.error-summary {
    color: #A94442;
    background: #FDF7F7;
    border-left: 3px solid #EED3D7;
    padding: 10px 20px;
    margin: 0 0 15px;
}

/* Estilos para el botón de logout en el encabezado */
.nav li > form > button.logout {
    padding-top: 7px;
    color: #E3E3E3;
}

/* Estilos para el encabezado */
.navbar {
    background-color: #16697A;
}

/* Estilos del encabezado */
.navbar-nav {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 18px;
}

/* Estilos para los enlaces del encabezado */
.nav-link {
    font-size: 18px;
    color: #E3E3E3;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    background: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.nav-link:hover, .nav-link:focus, .nav-link.active {
    color: #82C0CC;
}

.nav-link:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #82C0CC;
    transition: width 400ms cubic-bezier(0.25, 0.8, 0.25, 1), left 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.nav-link:hover:after, .nav-link:focus:after {
    width: 100%;
    left: 0;
}

/* Estilos para el botón de logout */
.nav li > form > button.logout:hover, 
.nav li > form > button.logout:focus {
    color: #489FB5;
    font-weight: bold;
}

.nav li > form > button.logout:focus {
    outline: none;
}

/* Estilos para iconos en botones */
.button-icon {
    fill: #E3E3E3;
}

.button-icon:hover {
    fill: #489FB5;
}

/* Estilos para iconos en el pie de página */
.footer-icon {
    margin: 0 8px;
}

/* Estilos para títulos */
h1, h2, h3 {
    color: #16697A;
    font-weight: bold;
    text-align: center;
}

/* Estilos para los h2 del panel */
.site-panel h2 {
    font-size: 18px;
}

/* Estilos para párrafos */
p {
    font-size: 18px;
    color: #333333;
    margin: 0;
}

/* Estilos para la línea horizontal */
hr {
    border: 1px solid #16697A32;
    margin: 32px;
}

/* Estilos para filas */
.row {
    padding: 8px 0;
}

/* Estilos para las filas del panel */
.site-panel .row {
    padding: 16px 0;
}

/* Estilos para la clase .caja */
.caja {
    border: 2px solid #16697A32;
    border-radius: 8px;
    padding: 8px;
    margin: 16px 0;
}

/* Estilos para botones */
.btn-primary {
    background-color: #16697A;
    border: none;
    margin: 2px;
}

.btn-primary:hover, .btn-primary:active {
    background-color: #489FB5;
}

/* Tamaño del lector de codigos QR */
#reader {
    width: 400px;
}

/* Estilos para la clase .square */
.square {
    max-width: 100%;
    background-color: #E3E3E3;
    box-shadow: 0 4px 8px #33333332;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
}

/* Estilos para tablas */
table {
    width: 100%;
    border-collapse: collapse;
    word-wrap: break-word;
}

table th, table td {
    white-space: nowrap;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 767px) {

    main > .container {
        padding: 80px 0 24px;
    }

    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }

    h1, h2 {
        padding: 16px 8px;
        margin: 0;
    }

    p {
        font-size: 18px;
    }

    hr {
        margin: 16px;
    }

    .row {
        padding: 24px 0;
    }

}
